<article >
    <p>
      <a href="/<%= @demo.id %>"><%= @demo.name %></a> <span><a href="/<%= @demo.id %>/delete">Delete?</a></span>
      <br>Number of People :  <%= @demo.nopeople %>
      <br>Phone Number :  <%= @demo.phno %>
      <br>Email :  <%= @demo.email %>
    </p>
    <p class="meta">Created: <%= @demo.created_at %></p>
  </article>