<% @demo.each do |item| %>
  <article >
    <p>
      <a href="/<%= item.id %>"><%= item.name %></a><span><a href="/<%= item.id %>/delete">Delete?</a></span>
      <br>Number of People :  <%= item.nopeople %>
      <br>Phone Number :  <%= item.phno %>
      <br>Email :  <%= item.email %>
    </p>
    <p class="meta">Created: <%= item.created_at %></p>
  </article>
<% end %>
